.zdigi-admin-login-container {
	width: 100%;
	height: 100%;
	background: url($zdigi-management-images-url + "index/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	.container-center {
		width: 500px;
		height: 350px;
		.title {
			width: 100%;
			height: 86px;
			display: flex;
			align-items: center;
			justify-content: center;
			span{
				font-family: 'xingshu', serif;
				font-size: 30px;
				color: white;
			}
		}
		.form {
			width: 100%;
			height: calc(100% - 86px);
			background: chartreuse;
		}
	}
}
